*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    position:fixed;
    top:0;
    margin:1rem;
    padding:0.5rem;
    display:flex;
    border:2px solid black;
    gap:2rem;
    
}
.navbar{
    border-radius: 15px;
    background:whitesmoke;
    
}
.navbar,.nav-links{
    display:flex;
    gap:1rem;
    list-style:none;
    align-items: center;
    padding-left:10px;
    padding-right:10px;

}
.navbar,.nav-links, a{
    text-decoration:none;
    Color:#333;
}
.navbar .nav-links li:hover , a:hover{
    color:rgb(4, 123, 115);
}
main{
    margin-top:10rem;
}